body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  background-color: #2A2C3F;
}

.address-text {
  color: #8388b2;
}

.state-message {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}
.state-message b{
  color: red;
  font-weight: 900;
}
.wrapper {
  width: 80vw;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
}

.section-title {
  align-self: center;
  text-align: center;
}

button:hover {
  cursor: pointer;
}

.error-log{
  font-size: 3rem;
  text-align: center;
  color: red;
}