body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2A2C3F;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.address-text{
  color:#8388b2;
}
.state-message {
  text-align: center;
  font-size: 13px;
  font-weight: bold;
}

.App {
  width: 80vw;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  height: 95vh;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
}

.sidebar {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}
.login-button{
  background-color: #32ba89;
  padding: 15px;
  border-radius: 10px;
}
.chat {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid black;
  background-color: #222336;
  border-radius: 15px;
  height: 100%;
}
.chat::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.chat::-webkit-scrollbar-track {
  background: gray;
}

/* Handle */
.chat::-webkit-scrollbar-thumb {
  background:#222336 ;
}

/* Handle on hover */
.chat::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.chat_messages {
  overflow: visible scroll;
  padding-bottom: 20px;
  border-top-left-radius: 20px;
}

.chat__actions-wrapper {
  display: flex;
  flex:1;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 10px;
  position: relative;
  bottom: 0px;
}

.chat__input {
  flex: 3;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  height: 50px;
}

textarea {
background-color: #868e96;
border-radius: 10px;
height: 45px;
width:100%;
}
.send-message-button{
  background-color: #20c997;
  flex:1;
  height: 55px;
  border-radius: 15px;
}
.chat__row {
  margin: 20px 10px;
}

.chat__bubble {
  display: flex;
}

.chat__bubble.left {
  justify-content: start;
}

.chat__bubble.right {
  justify-content: end;
}

.chat__message {
  border-radius: 5px;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  margin-top: 10px;
  max-width: 50%;
}

.chat__message:before {
  content: "\00a0";
  display: block;
  height: 16px;
  width: 9px;
  position: absolute;
  bottom: -7.5px;
}

.chat__message.left {
  color:#babbcc;
  background-color: #35384c;
}

.chat__message.left:before {
  background-color: #35384c;
  left: 10px;
  -webkit-transform: rotate(70deg) skew(5deg);
}

.chat__message.right {
  background-color: #32ba89;
  color: #fff;
}

.chat__message.right:before {
  background-color: #32ba89;
  right: 10px;
  -webkit-transform: rotate(118deg) skew(-5deg);
}

.logo-section{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 80px;
  margin-bottom: 30px;
}
.sky-logo{
  height: 80px;
}
.anom-logo{
  height: 80px;
}

.logo{
  filter:grayscale(1);
  transition: 0.5s all;
}

.logo:hover{
  filter: grayscale(0);
  height: 85px;
  transition: 0.5s all;
}
.admin-panel-wrapper{
  margin-bottom: 35px;
}
.section-title{
  align-self: center;
  text-align: center;
}
.ban-user-section{
  display: flex;
  flex-direction: row;
  gap:15px;
  margin-bottom: 15px;
}
.ban-adress-input{
  height: 35px;
  border-radius: 10px;
  background-color: #868e96;
  border: 1px solid black;
  width: 100%;
  flex: 4;
}

.ban-button{
  background-color: crimson;
  height: 38px;
  flex:1;
  border-radius: 10px;
}
.change-admin-section{
  display: flex;
  flex-direction: row;
  gap:15px;
}
.change-admin-input{
  height: 35px;
  border-radius: 10px;
  background-color: #868e96;
  border: 1px solid black;
  width: 100%;
  flex: 4;
}
.change-button{
  background-color: teal;
  height: 38px;
  flex:1;
  border-radius: 10px;
}
.clear-chat-section{
  display: flex;
}
.clear-chat-section button{
  flex:1;
  height: 35px;
  background-color: coral;
  border-radius: 15px;
  margin-bottom: 15px;
}

